doctype html
head
  meta(charset=utf-8)
  title Live Editor recording demo
  link(rel='stylesheet', href='live-editor/css/live-editor.core_deps.css')
  link(rel='stylesheet', href='live-editor/css/live-editor.audio.css')
  link(rel='stylesheet', href='live-editor/css/live-editor.tooltips.css')
  link(rel='stylesheet', href='live-editor/css/live-editor.ui.css')
  link(rel='stylesheet', href=assetUrl('style.css'))
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block head

block content

script(src="live-editor/js/live-editor.core_deps.js")
script(src="live-editor/js/live-editor.editor_ace_deps.js")
script(src="live-editor/js/live-editor.audio.js")
script(src="live-editor/js/live-editor.shared.js")
script(src="live-editor/js/live-editor.tooltips.js")
script(src="live-editor/js/live-editor.ui.js")
script(src="live-editor/js/live-editor.editor_ace.js")

block tail

